<!-- Testing :::  

==> Testing is the process of evaluating and validating a application functionality to ensure that 
it meets the desired quality and performance standards.

Types of testing :::

Manual Testing: [QA QE SDET] will test wether all the features are working according to specification Automation testing: use different types of test that automatically runs when a new feature is added/ component in added or a new flow is added
test 1: action: click on camera icon,  expectations: camera opens
test 2: action: click on shutter button,  expectations: photo is clicked
test 3: action: click on post button,  expectations: photo is added to your story

Areas of Testing :::

1. Unit Testing: Verifying the smallest units (components) of the app in isolation to ensure individual functionality.
Example: testing a counter component in isolation.

2. Functional Testing / Integration Testing: Assesing how multiple components interact to achieve a specific result.

3. End to End testing: Evaluating the entire application workflows to ensure alignment with specified requirements.

4. Stress Testing: Assesing how well the system performs unders extreme conditions, identify breaking points.

5. Performance Testing: Measure the responsiveness and efficiency to ensure smooth user experience under normal conditions.

6. Regression Testing: It is done by re running all the tests. Checking ifapplication works as intended
                       after code changes, updates, revisions, improvement, optimization. -->
